<html>
	<head>
		<title>issheintome</title>
		<link href = "{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>


	</head>
	<body> 
		<div id = "header">
			<h1>is she into me?<h1>
		</div>

		<div id = "content_box">
			<h2>Login to Facebook and agree to permissions!
			</h2>

			<div id="user-info"></div>

			<!-- Facebook Button -->
			<img id="fb-auth" class = "centered" src = "{{ STATIC_URL }}img/fbbutton.png" height = "200" width = "200">

			<!-- <h2>
				Choose a friend:
				<input class = "textarea" type="text">

				</input>
			</h2> -->
		</div>

		<div id = "footer">

		</div>

		
		<!-- Loads facebook script and iframes -->
		<div id="fb-root"></div>
		<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>


	</body>
</html>