{% csrf_token %}

<html>
	<head>
		<title>Is She Into Me?</title>
		<link href = "{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
		<link href = "{{ STATIC_URL }}css/jquery.friend.selector-1.2.1.css" rel="stylesheet" type="text/css" />
		<link href='//fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
		<meta name = "description" content="Ever wanted to find out how your romantic interest feels about you? IsSheIntoMe uses sentiment analysis of your facebook conversations with your romantic interest to give you back an interest score.">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body> 
		
		<div id="container">
			<div id="content_box">
				<div id = "header">
					<h1>is she into me?<h1>
				</div>

				<div id="auth"><img id="auth-img" class="button" src = "{{ STATIC_URL }}img/fbbutton.png" height = "200" width = "200" /></div>

				<div id="find-friend" class="black"><img id = "find-friend-img" class="button" src = "{{ STATIC_URL }}img/choose-friend.png" height = "200" width = "200" /></div>

				<div id="percentage" class="black">
				<span id="percentage-num"><span id="sentiment">0</span>%</span></div>

				<div id="share" class="black"><img id="share-img" class="button" src = "{{ STATIC_URL }}img/share.png" height = "200" width = "200" /></div>
				<div class="spacer" style="clear: both;"></div>

				<div id="message"></div>
			</div>

			<div id = "footer">
				By
				<a href="http://www.smithamilli.com">Smitha Milli</a>
				and 
				<a href="http://www.linkedin.com/pub/jessica-chang/57/342/280/"> Jessica Chang </a>.
			</div>
		</div>

		<!-- Loads facebook script and iframes -->
		<div id="fb-root"></div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.friend.selector-1.2.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
		<script>
		 // 	$(document).ready(function(){
		 // 		// $("#authentication").fadeOut(3000);
		 //  	    $("#fb-auth").fadeOut(3000);
		 //  	});
		 // </script>

		 <!-- Google Analytics -->
		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-46009452-1', 'issheintome.herokuapp.com');
			  ga('send', 'pageview');

		</script>
	</body>
</html>